<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome to To Do List</h1>

        <p>Create a new Cuisine:</p>

        <form action='/cuisines' method='post'>
            <label for='type'>Cuisine name</label>
            <input id='type' name='type' type='text'>

            <button type='submit'>Add cuisine</button>
        </form>

        {% if cuisines is not empty %}
            <p>Here are all your cuisines:</p>
            <ul>
                {% for cuisine in cuisines %}
                    <li><a href="cuisines/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>
                {% endfor %}
            </ul>
            <p>There are no cuisines yet!</p>
        {% endif %}

        <form action='/delete_cuisines' method='post'>
            <button type='submit'>Clear</button>
        </form>
        <p><a href="/restaurants">Click here</a> to see all of the restaurants and to add a restaurant.</p>
        <p><a href="/total">Click here</a> to see all of the restaurants and cuisines.</p>
    </body>
</html>
