<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Restaurants</h1>


            {% if restaurants is not empty %}
                <p>Here are all your restaurants:</p>
                <ul>
                    {% for restaurant in restaurants %}
                        <li><a href="/restaurants/{{ restaurant.getId }}/description">{{ restaurant.getName }} 
                        {% for cuisine in cuisines %}
                            {% if cuisine.getId == restaurant.getCuisineId %}
                            <em>{{ cuisine.getType}}</em>
                            {% endif %}
                        {% endfor %}
                        </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Please Enter a Restaurant...</p>
            {% endif %}

            <p><a href='/'>Home</a></p>

            <!-- <form action='/delete_restaurants' method='post'>
                <button type='submit'>Clear</button>
            </form> -->
        </div>
    </body>
</html>
